<h1>Plans</h1>

<div class="background">
  <div class="container">
    <div class="panel pricing-table">

   <% @plans.each do |plan| %>
    <div class='<%=plan.plan_id %>'>
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class='<%=plan.name %>'>
        <h2 class="pricing-header"> <%= link_to plan.name, plan_path(plan) %> </h2>
        <span class="pricing-price"> <%= plan.price %> </span>
        <a href="#/" class="pricing-button">SaaS Me</a>
      </div>
   </div>
  <% end  %>
    </div>
  </div>
</div>
